<!DOCTYPE html>
<html>
<head>
    <title>My First Website</title>

    <!-- CSS LINK -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="terminal">
    <p class="cmd">$ whoami</p>
    <h1 class="glow type">Prince // Hacker Mode</h1>

    <p class="cmd">$ skills</p>
    <p class="type delay1">Python | Flask | HTML | CSS</p>

    <p class="cmd">$ status</p>
    <p class="type delay2">Learning. Building. Winning.</p>
</div>
<div class="projects">
  <h2>Projects</h2>
  <div class="cards">
    <a class="card" href="#">Project 1</a>
    <a class="card" href="#">Project 2</a>
  </div>
</div>
</body>
</html>